.img {
    height: 348px;
    width: 302px;
    border-radius: 40px;
    border: 1px solid #333333;
}

.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 43.2px;
    color: #333333;
}

.imagens1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.imagens2 {
   display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.button {
    background-color: #333333;
    width: 222px;
    height: 66px;
    top: 162px;
    left: 136px;
    padding: 24px 56px 24px 56px;
    gap: 10px;
    border-radius: 40px;
    color: white;
}

.circles {
    width: 495px;
    height: 148px;
    top: 454px;
    left: 120px;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 495px;
    height: 228px;
    top: 135px;
    left: 120px;
    gap: 24px;
}

.coluna2 {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.tudo{
    display: flex;
    justify-content: center;
    gap: 45px;


}
